/* #ToTop button */
#toTop {
	background: $regular_accent_color_1;
	color: $invert_link_color;
}
#toTop:hover {
	color: $invert_link_color;
	background-color: $regular_link_color;
}

/* #Page Preloader */
.page-preloader-cover .dot1,
.page-preloader-cover .dot2 {
	background-color: $regular_accent_color_1;
}